<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><span>Rock</span>Droid</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->

  
  <div class="user-profile clearfix" ng-controller="PageTopCtrl">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-show="user.user_image" src="{{user.user_image}}">
        <img ng-show="!user.user_image" src="assets/img/profile_place_toolbar.png">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a ui-sref="pages.profile"><i style="margin-right: 6px" class="fa fa-user"></i>Minha conta</a></li>
        <li><a ng-click="logOut()" class="signout"><i style="margin-right: 6px" class="fa fa-power-off"></i>Sair</a></li>
      </ul>
    </div>
    <msg-center></msg-center>
    <div style="position: absolute;
    right: 200px;
    top: 0;
    height: 66px;
    line-height: 66px;
    color: #fff;
    font-weight: 300;">Alguma pergunta? <a href="mailto:orb.software@outlook.com">orb.software@outlook.com</a></div>
  </div>
</div>