<style>
                .drop-box {
                    background: #F8F8F8;
                    border: 5px dashed #DDD;
                    text-align: center;
                    padding-top: 25px;
                }
                .dragover {
                    border: 5px dashed blue;
                }
</style>
<div style="background-color: #209e91;" class="modal-header bg-success"><i class="ion-checkmark modal-icon"></i><span>Editar afloramento</span></div>
<div style="padding: 15px;">
    <form>
            <div class="form-group">
              <label for="name">Nome <a style="color: #E85656">*</a></label>
              <input type="text" ng-model="outcrop.name" required class="form-control" id="name" placeholder="Nome">
            </div>
            <div class="input-demo radio-demo row">
                    <div class="col-md-4">
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" ng-model="location.type" name="inlineRadioOptions" id="inlineRadio1" value="wgs">
                        <span>Geográfica (WGS-84)</span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <label class="radio-inline custom-radio nowrap">
                        <input type="radio" ng-model="location.type" name="inlineRadioOptions" id="inlineRadio2" value="utm">
                        <span>UTM</span>
                      </label>
                    </div>
            </div>

            <div ng-show="location.type == 'wgs'">
                <div class="form-group">
                        <label for="name">Latitude <a style="color: #E85656">*</a></label>
                        <input style="margin-bottom: 5px;" type="number" required ng-model="outcrop.latitude" class="form-control" id="latitude" placeholder="Latitude">
                </div>

                <div class="form-group">
                        <label for="name">Longitude <a style="color: #E85656">*</a></label>
                        <input style="margin-bottom: 5px;" type="number" required ng-model="outcrop.longitude" class="form-control" id="longitude" placeholder="Longitude">
                </div>
            </div>

            <div ng-show="location.type == 'utm'">
                        <div class="form-group" style="padding-right: 0px; padding-left: 0px;">
                                        <label style="margin-top: 10px;" for="name">Zona longitudinal <a style="color: #E85656">*</a></label>
                                        <input class="col-sm-6 form-control" type="number" required ng-model="outcrop.horizontal_datum" id="horizontal_datum" placeholder="1 a 60">
                                </div>
        
                                <div class="form-group">
                                        <label style="margin-top: 10px;" for="name">Zona latitudinal <a style="color: #E85656">*</a></label>
                                        <select style="display: block !important;" class="form-control selectpicker" required title="Zona latitudinal" ng-model="latitudeZone" selectpicker>
                                                <option value="N">N</option>
                                                <option value="S">S</option>
                                        </select>
                                </div>

                    <div class="form-group">
                            <label for="name">Easting <a style="color: #E85656">*</a></label>
                            <input type="number" ng-model="outcrop.easting" required class="form-control" id="easting" placeholder="Easting">
                    </div>

                    <div class="form-group">
                            <label for="name">Northing <a style="color: #E85656">*</a></label>
                            <input type="number" ng-model="outcrop.northing" required class="form-control" id="northing" placeholder="Northing">
                    </div>
            </div>

            <div class="form-group">
                    <label for="name">Altitude</label>
                    <input type="number" ng-model="outcrop.altitude" class="form-control" id="input02" placeholder="Altitude">
            </div>
            <div class="form-group">
                    <label for="name">Toponímia</label>
                    <input type="text" ng-model="outcrop.toponomy" class="form-control" id="input03" placeholder="Toponímia">
            </div>
            <div class="form-group">
                    <label for="name">Descrição</label>
                    <input type="text" ng-model="outcrop.description" class="form-control" id="input04" placeholder="Descrição">
            </div>
           <div class="form-group">
                        <label for="photos">Fotos</label>
                        <div style="margin-bottom: 10px;" ngf-drop ngf-select ng-model="addedFiles" class="drop-box col-md-12" 
                        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                        accept="image/*,application/pdf"
                        ngf-pattern="'image/*,application/pdf'" style="cursor: pointer;">
                
                        <p style="cursor: pointer;" ng-hide="files.length > 0">Arraste uma imagem ou clique para adicionar uma foto</p>
                        <div style="display: flex; flex-direction: row;" ng-repeat="photo in files" class="col-md-4">
                                <div style="z-index: 99999; cursor: pointer; font-size: 18px; padding: 5px;" ng-click="removePhoto(photo,$index); $event.stopPropagation();">X</div>
                                <img data-ng-src="{{photo.base64image ? photo.base64image : photo}}" style="width: 80px; height: 80px; margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom: 20px;"/>
                        </div>
            
                        </div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>            
           </div>
            <div style="text-align: right;">
                    <button class="btn btn-default" ng-click="closeModal()">Cancelar</button>
                    <button type="submit" class="btn btn-danger" ng-click="editOutcrop()">Confirmar</button>
            </div>
    </form>
</div>