<div class="widgets">

        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div ba-panel>
                <div ng-show="outcrops.length == 0">
                    <div class="add-row-editable-table" style="display: flex; justify-content: space-between;">
                        <button class="btn btn-default compose-button" ng-click="goBack()">❮ Voltar</button>
                        <div></div>
                    </div>
                  <div style="text-align: center; padding: 10px">
                    <img src="assets/img/new_outcrop.png" alt="Smiley face" height="200" width="200"></img>
                    <div style="font-size: 15px; padding: 10px;">Crie seu primeiro afloramento</div>
                    <div class="add-row-editable-table">
                        <button class="btn btn-primary" ng-click="newOutcrop()">Novo afloramento</button>
                    </div>
                  </div>
                </div>
              <div ng-show="outcrops.length != 0" class="horizontal-scroll">
                <div class="add-row-editable-table" style="display: flex; justify-content: space-between;">
                    <button class="btn btn-default compose-button" ng-click="goBack()">❮ Voltar</button>
                    <button class="btn btn-primary" ng-click="newOutcrop()">Novo afloramento</button>
                </div>
                <table class="table table-bordered table-hover table-condensed" st-table="outcrops" st-safe-src="outcrops1">
                  <thead>
                     
                  <tr class="sortable ">
                    <th st-sort="firstName">Nome</th>
                    <th st-sort="firstName">Altitude</th>
                    <th st-sort="firstName">Toponímia</th>
                    <th st-sort="firstName">Descrição</th>
                    <th st-sort="firstName">Criado em</th>
                    <th st-sort="firstName">Ações</th>
                  </tr>
                  <!-- <tr>
                    <th></th>
                    <th><input st-search="firstName" placeholder="Buscar por Nome" class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="lastName" placeholder="Buscar por data de criação" class="input-sm form-control search-input"
                               type="search"/></th>
                  </tr> -->
                  </thead>
                  <tbody>
                  <tr ng-repeat="outcrop in outcrops" style="cursor: pointer;">
                    <td ng-click="goToOutcropInfo(outcrop.uuid);">{{outcrop.name}}</td>
                    <td ng-show="outcrop.altitude" ng-click="goToOutcropInfo(outcrop.uuid);">{{outcrop.altitude}}</td>
                    <td ng-show="!outcrop.altitude" ng-click="goToOutcropInfo(outcrop.uuid);">-</td>
                    <td ng-show="outcrop.toponomy" ng-click="goToOutcropInfo(outcrop.uuid);">{{outcrop.toponomy}}</td>
                    <td ng-show="!outcrop.toponomy" ng-click="goToOutcropInfo(outcrop.uuid);">-</td>
                    <td ng-show="outcrop.description" ng-click="goToOutcropInfo(outcrop.uuid);">{{outcrop.description}}</td>
                    <td ng-show="!outcrop.description" ng-click="goToOutcropInfo(outcrop.uuid);">-</td>
                    <td ng-click="goToOutcropInfo(outcrop.uuid);">{{outcrop.created_at | date : 'd/M/yyyy'}}</td>
                    <td>
                        <div class="buttons">
                            <button class="btn btn-primary editable-table-button btn-xs" ng-click="editOutcrop(outcrop)">Editar</button>
                            <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteOutcrop(outcrop.uuid)">Excluir</button>
                        </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot >
                  <tr>
                    <td colspan="10" class="text-center" style="padding-bottom: 15px;">
                      <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      
      </div>