<div class="side-message-navigation" ng-class="{'expanded': tabCtrl.navigationCollapsed}">
  <div class="mail-messages-control side-message-navigation-item" style="text-align: right;">
      <button type="button" class="btn btn-primary compose-button" ng-click="newRock();">
          Nova rocha
      </button>
  </div>
  <div class="messages">
    <table class="table table-bordered table-hover table-condensed" st-table="smartTableData">
        <thead>
           
        <tr class="sortable ">
          <th st-sort="firstName">Nome</th>
          <th st-sort="lastName">Tipo de rocha</th>
          <th st-sort="lastName">Textura</th>
          <th st-sort="lastName">Mineralogia</th>
          <th st-sort="lastName">Criado em</th>
          <th st-sort="lastName">Ações</th>
        </tr>
        <!-- <tr>
          <th></th>
          <th><input st-search="firstName" placeholder="Buscar por Nome" class="input-sm form-control search-input"
                     type="search"/></th>
          <th><input st-search="lastName" placeholder="Buscar por data de criação" class="input-sm form-control search-input"
                     type="search"/></th>
        </tr> -->
        </thead>
        <tbody>
        <tr ng-repeat="item in listCtrl.rocks"
        class="side-message-navigation-item little-human shineHover {{m.tag}}" style="cursor: pointer;" ng-click="goToStages();">
          <td>{{item.name}}</td>
          <td>{{item.rock_type}}</td>
          <td>{{item.texture}}</td>
          <td>{{item.mineralogy}}</td>
          <td>{{item.created_at}}</td>
          <td>
              <div class="buttons">
                  <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Excluir</button>
              </div>
          </td>
        </tr>
        </tbody>
        <tfoot >
        <tr>
          <td colspan="6" class="text-center" style="padding-bottom: 15px;">
            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
        </tfoot>
      </table>
  </div>
</div>