
<style>
  .selected-menu-item{
    background: #209E91;
    color: #fff;
  }
  .selected-menu-item:hover{
    color: #fff !important;
  }

</style>
<aside class="al-sidebar" ng-swipe-right="$baSidebarService.setMenuCollapsed(false)" ng-swipe-left="$baSidebarService.setMenuCollapsed(true)"
       ng-mouseleave="hoverElemTop=selectElemTop">
  <ul class="al-sidebar-list">
    <li ng-class="{'selected-menu-item': selectedMenuItem == 0}" ng-click="setSelectedMenu(0)" class="al-sidebar-list-item">
      <a ng-class="{'selected-menu-item': selectedMenuItem == 0}" ng-mouseenter="hoverItem($event)" ui-state="'pages.dashboard'"  class="al-sidebar-list-link">
        <i class="ion-android-home"></i><span>Dashboard</span>
      </a>
    </li>

    <li ng-class="{'selected-menu-item': selectedMenuItem == 1}"  ng-click="setSelectedMenu(1)" class="al-sidebar-list-item">
      <a  ng-class="{'selected-menu-item': selectedMenuItem == 1}" ng-mouseenter="hoverItem($event)" ui-state="'pages.projects'"   class="al-sidebar-list-link">
        <i class="ion-grid"></i><span>Projetos</span>
      </a>
  </li>
  <li  ng-class="{'selected-menu-item': selectedMenuItem == 2}" ng-click="setSelectedMenu(2)" class="al-sidebar-list-item">
    <a  ng-class="{'selected-menu-item': selectedMenuItem == 2}" ng-mouseenter="hoverItem($event)" ui-state="'pages.maps'" class="al-sidebar-list-link">
    <i class="ion-android-map"></i><span>Mapa</span>
    </a>
  </li>
  <li ng-class="{'selected-menu-item': selectedMenuItem == 3}"  ng-click="setSelectedMenu(3)" class="al-sidebar-list-item">
    <a ng-class="{'selected-menu-item': selectedMenuItem == 3}" ng-mouseenter="hoverItem($event)" ui-state="'pages.tutorial'" class="al-sidebar-list-link">
    <i class="ion-help-circled"></i><span>Tutorial</span>
    </a>
  </li>
  </ul>
</aside>
