<div style="background-color: #209e91;" class="modal-header bg-success"><i class="ion-checkmark modal-icon"></i><span>Editando etapa</span></div>
<div style="padding: 15px;">
        <form>
                <div class="form-group">
                  <label for="name">Nome da etapa <a style="color: #E85656">*</a></label>
                  <input type="text" ng-model="stage.name" class="form-control" id="name" placeholder="Nome">
                </div>
                <div class="form-group">
                        <label for="name">Município</label>
                        <input type="text" ng-model="stage.city" class="form-control" id="city" placeholder="Município">
                </div>
                <div class="form-group">
                                <label for="name">UF</label>
                        <select ng-model="stage.uf" class="form-control selectpicker" style="display: block !important;" title="Distrito" ng-model="selectedDistrict" selectpicker>
                                <option ng-repeat="district in districts">{{district}}</option>
                        </select>

                </div>   
                <div class="form-group">
                        <!-- <div class="col-xlg-6 col-md-12 col-sm-6" ng-controller="datepickerpopupCtrl"> -->
                                <label>Data de início: <em>{{dt | date:'fullDate' }}</em></label>
                                <p class="input-group">
                                    <input ng-model="stage.initial_date" type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            <!-- <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select> -->
                            <!-- </div> -->
                </div>
                
                <div style="text-align: right;">
                                <button type="submit" class="btn btn-default" ng-click="closeModal()">Cancelar</button>
                                <button type="submit" class="btn btn-danger" ng-click="editStage()">Confirmar</button>
                </div>
        </form>
</div>