<div class="modal-content">
    <div class="modal-header bg-danger">
      <i class="ion-flame modal-icon"></i><span> Aviso</span>
    </div>
    <div style="padding: 15px;"></div>
        <div class="modal-body text-center">
            <div>Deseja mesmo excluir essa estrutura?</div>
            <div>As informações não poderão ser recuperadas.</div>
        </div>
        <div class="modal-footer">
                <div style="text-align: right;">
                        <button class="btn btn-default" ng-click="closeModal()">Cancelar</button>
                        <button type="submit" class="btn btn-danger" ng-click="deleteStructure()">Excluir</button>
                </div>
        </div>
    </div>
</div>
  