<div class="modal-content">
        <div class="modal-header bg-danger">
          <i class="ion-flame modal-icon"></i><span> Aviso</span>
        </div>
        <div style="padding: 15px;"></div>
            <div class="modal-body text-center">
                <div>Deseja mesmo excluir essa foto?</div>
                <div>A foto não poderá ser recuperada.</div>
            </div>
            <div class="modal-footer">
                    <div style="text-align: right;">
                            <button class="btn btn-default form-button" ng-click="closeModal()">Cancelar</button>
                            <button type="submit" class="btn btn-danger form-button" ng-click="confirm()">Excluir</button>
                    </div>
            </div>
        </div>
</div>
      