<div style="background-color: #209e91;" class="modal-header bg-success"><i class="ion-checkmark modal-icon"></i><span>Adicionando projeto</span></div>
<div style="padding: 15px;">
        <form>
                <div class="form-group">
                  <label for="name">Nome <a style="color: #E85656">*</a></label>
                  <input type="text" ng-model="project.name" class="form-control" id="project_name" required placeholder="Nome">
                </div>
                <div style="text-align: right;">
                        <button class="btn btn-default form-button" ng-click="closeModal()">Cancelar</button>
                        <button type="submit" class="btn btn-danger form-button" ng-click="newProject()">Confirmar</button>
                </div>
        </form>
</div>