<style>
  .export-button{
    background-color: #DFB81C;
    color: #fff;
  }
</style>
<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div ba-panel>
          <div ng-show="projects1.length == 0" style="text-align: center; padding: 10px">
              <img src="assets/img/new_project.png" alt="Smiley face" height="145" width="145"></img>
              <div style="font-size: 15px; padding: 10px;">Crie seu primeiro projeto</div>
              <div class="add-row-editable-table">
                  <button class="btn btn-primary main-btn" ng-click="newProject()">Novo projeto</button>
              </div>
            </div>
        <div ng-show="projects.length != 0" class="horizontal-scroll">
          <div class="add-row-editable-table" style="text-align: right">
              <button class="btn btn-primary main-btn" ng-click="newProject()">Novo projeto</button>
          </div>
          <table class="table table-bordered table-hover table-condensed"  st-table="projects"  st-safe-src="projects1">
            <thead>
               
            <tr class="sortable ">
              <th st-sort="firstName">Criador</th>
              <th st-sort="firstName">Nome</th>
              <th st-sort="lastName">Criado em</th>
              <th st-sort="lastName">Ações</th>
            </tr>
            <!-- <tr>
              <th></th>
              <th><input st-search="firstName" placeholder="Buscar por Nome" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="lastName" placeholder="Buscar por data de criação" class="input-sm form-control search-input"
                         type="search"/></th>
            </tr> -->
            </thead>
            <tbody>
            <tr ng-repeat="project in projects" style="cursor: pointer;">
                <td ng-show="!user.is_teacher" ng-click="goToStages(project);">{{user.name}}</td>
              <td ng-show="user.is_teacher" ng-click="goToStages(project);">{{users[$index].name}}</td>
              <td ng-click="goToStages(project);">{{project.name}}</td>
              <td ng-click="goToStages(project);">{{project.created_at | date : 'd/M/yyyy'}}</td>
              <td>
                  <div class="buttons">
                      <button class="btn btn-primary editable-table-button btn-xs" ng-click="editProject(project)">Editar</button>
                      <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteProject(project.uuid)">Excluir</button>
                      <button class="btn btn-secondary editable-table-button btn-xs export-button" type="button" ng-click="exportToXls(project.uuid)">Exportar</button>
                  </div>
              </td>
            </tr>
            </tbody>
            <tfoot >
            <tr>
              <td colspan="6" class="text-center" style="padding-bottom: 15px;">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>