<div style="background-color: #209e91;" class="modal-header bg-success"><i class="ion-checkmark modal-icon"></i><span>Editar amostra</span></div>
<div style="padding: 15px;">
    <form>
            <div class="form-group">
              <label for="name">Nome</label>
              <input ng-model="sample.name" type="text" class="form-control" id="name" placeholder="Nome">
            </div>
            <div style="text-align: right;">
                    <button type="submit" class="btn btn-default" ng-click="closeModal()">Cancelar</button>
                    <button type="submit" class="btn btn-danger" ng-click="editSample()">Confirmar</button>
            </div>
    </form>
</div>